@charset "UTF-8";

:root {
    --preto: #0B0A0D;
    --cinza: #212126;
    --cinzadesbotado: #333140;
    --roxoazulado: #201E59;
    --roxoescuro: #060826;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 55vh;
}

section, div {
    width: 50vw;
    height: 50vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.40);
    flex: 1 1 auto;
}

section.container {
    border-top-right-radius: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

section.container > h1 {
    font-size: 2.2em;
    margin: 10px;
}

section.container > p {
    font-size: 1.3em;
}

section::after {
    display: none;
}

.typewriter {
    white-space: wrap;
}

div {
    border-bottom-left-radius: 0px;
    padding: 0px;
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

form > h1 {
    padding: 50px 0px 25px 0px;
}

@media screen and (min-width: 1750px) {
    section.container > h1 {
        font-size: 3em;
        margin: 10px;
    }

    .typewriter {
        white-space: nowrap;
    }
}