@charset "UTF-8";

:root {
    --preto: #0B0A0D;
    --cinza: #212126;
    --cinzadesbotado: #333140;
    --roxoazulado: #201E59;
    --roxoescuro: #060826;
}

*  {
    color: rgb(214, 214, 214);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

html {
    height: 100vh;
    background-image: url(../imagens/pexels-jnovphoto-924824.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
}

main {
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
}

section {
    height: 210px;
    width: 72vw;
    margin: 0px;
    border-top-left-radius: 60px;
    border-top-right-radius: 5px;
    box-shadow: 0px -7px 7px rgba(0, 0, 0, 0.40);
    background-color: rgba(255, 255, 255, 0.062);
    backdrop-filter: blur(2px);
}

.container {
    display: inline-block;
}

.typewriter {
    font-size: 2em;
    font-family: monospace;
    border-right: 4px solid;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(20),
        cursor .4s step-end infinite alternate;
}

/*cursor blinking */
@keyframes cursor {
    50% {border-color: transparent}
}

/*typing effect*/
@keyframes typing {
    from {width: 0}
}

section > h1 {
    font-size: 2em;
    padding: 20px 20px 0px 20px;
    margin: 5px auto;
    text-shadow: 0px 0px 5px black;
}

section > h1::after {
    content: '';
    width: 200px;
    height: 4px;
    background-image: linear-gradient(to right, var(--roxoescuro), var(--roxoazulado));
    border-radius: 5px;
    display: block;
    margin: 10px auto;
}

section > p {
    text-shadow: 0px 0px 5px black;
    font-size: 1.1em;
    padding: 5px 20px 24px 20px;
}

section::after {
    content: '';
    width: 72vw;
    height: 54px; 
    border-top-left-radius: 50px;
    background-image: linear-gradient(to right, var(--roxoescuro), var(--roxoazulado));
    backdrop-filter: blur(3px);
    display: block;
    margin: 0px auto;
}


div {
    height: 350px;
    width: 64vw;
    padding: 0px 20px 20px 20px;
    margin: 0px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 5px;
    background-image: linear-gradient(to right, var(--roxoescuro), var(--roxoazulado));
    backdrop-filter: blur(3px);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.40);
}

form > h1 {
    padding: 0px 0px 30px 0px;
    margin: 0px;
    font-size: 2em;
    text-shadow: 0px 0px 5px black;
}

form > p {
    padding: 10px;
    margin: 10px;
}

input {
    padding: 15px;
    margin: 5px;
    background-image: linear-gradient(to right, var(--roxoescuro), var(--roxoazulado));
    box-shadow: 0px 0px 5px black;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 220px;
}

input:hover {
    width: 230px;
    transition: 1s;
}

.confirm > input {
    width: 100px;
}

.confirm > input:hover {
    width: 120px;
    transition: 1s;
}

a {
    text-decoration: none;
}

a:hover {
    background-image: linear-gradient(to right, var(--roxoescuro), var(--roxoazulado));
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    font-size: 17px;
    transition: .2s;
}